{% load static %}
{% load tags %}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="{%  static "dbcreater/js/jquery.js" %}"></script>
<script src="{%  static "dbcreater/js/three.r92.min.js" %}"></script>
<script src="{%  static "dbcreater/js/vanta.birds.min.js" %}"></script>
<link rel="stylesheet" href="{%  static "dbcreater/css/reset.css" %}">
<link rel="stylesheet" href="{%  static "dbcreater/css/stylesheet.css" %}">
<link rel="stylesheet" href="{%  static "dbcreater/css/entypo.css" %}">
<script src="{%  static "dbcreater/js/gallery.min.js" %}"></script>
<link rel="stylesheet" href="{%  static "dbcreater/css/styles.css" %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <section class="wm">
    <div class="top-left">
      <a href="https://github.com/vaidehib2910/LazyDB">
        <i class="ent-github"> </i>
        Vaidehi - GitHub
      </a>
      <a href="https://github.com/Nikhilkoneru/LazyDB">
        <i class="ent-github"> </i>
        Nikhil - GitHub
      </a>
    </div>
    <div class="d-flex justify-content-center">
      <div class="eight columns">
        <h1> LazyDB </h1>
        <h3> Convert CSV's or Zip of CSV's to a database in seconds.</h3>
      </div>
    </div>
  </section>

  <section class="gallery">
    <div class="justify-content-center" style="display: flex;align-items: center;justify-content: center">
      <div class="ten columns">
        <h2 style="text-align: center;"> Convert Files </h2>
        <form action="{% get_setting "server_url" %}/mysql" method="POST" role="form" class="form-horizontal" id="form1" name="form1" enctype="multipart/form-data">
  			<div class="form-group">
    			<label for="exampleInputEmail1">Email address</label>
   		 		<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  			</div>
  			<div class="form-group">
    			<label for="exampleInputPassword1">URL</label>
    			<input type="text" class="form-control" id="url" name="url"  placeholder="https://" onchange="disableFile();">
  			</div>
            <h2>or</h2>
            <div class="form-group">
    			<label for="exampleInputPassword1">File</label>
    			<input type="file" class="form-control" id="file" name="file" onchange="disableUrl();">
  			</div>
  			<div class="form-group">
    			<label for="db">DataBase Type</label>
    			<select class="form-control" id="db"  name="db">
      				<option value="mysql">MySQL</option>
      				<option value="mongodb">MongoDB</option>
    			</select>
 	 		</div>
 	 		<div style="text-align: center;">
  			<button type="submit" class="btn">Submit</button>
  			</div>
		</form>
      </div>
    </div>
  </section>
  <section class="top-follow">
    <div class="container clearfix">
      <div class="sixteen columns">
        <hr>
      </div>
      <div class="sixteen columns" style="display: flex;align-items: center;justify-content: center">
        <h4>
          LazyDB is brought to you by <a href="https://www.linkedin.com/in/vaidehi-barevadia-291096/">Vaidehi Barevadia
            <img class="rounded-circle" style="width: 100px;height: 100px" src="{%  static "dbcreater/images/vaidehi.jpeg" %}" class="" alt="Cinque Terre"></a>
           and <a href="https://www.linkedin.com/in/konerunikhil/">Nikhil Koneru
           <img src="{%  static "dbcreater/images/nikhil.jpeg" %}" style="width: 100px;height: 100px" class="rounded-circle w-10 " alt="Cinque Terre"></a>.
        </h4>
        </h4>
      </div>
    </div>
  </section>
</body>
<script>
    function  disableFile() {
        document.getElementById("file").disabled = document.getElementById("url").value.length>0;
    }
    function disableUrl(){
          document.getElementById("url").disabled = document.getElementById("file").files.length>0;
    }
    document.getElementById('form1').db.onchange = function() {
        document.getElementById('form1').action = "{% get_setting "server_url" %}/"+this.value;;
    };
</script>
</html>